<p>Actores</p>

<p>Nombre del actor: {{ nombreActor | uppercase }}</p>
<p>Pelicula: {{ actor.pelicula | uppercase}}</p>
<p>Protagonista: {{ actor.protagonista }}</p>
<p>Edad: {{ actor.edad }}</p>
<p>Lugar de nacimiento: {{ actor.lugarNac | lowercase}}</p>

<br>
<div>
    <img [src]="imagenActor" [title]="tooltip" [width]="anchoImg" [height]="altoImg" />
</div>
<br>
<div>
    <button (click)="verActor(nombreActor)">Ver Actor</button>
</div>
<br>

<div>

    <input [(ngModel)]="pelicula" />
    <p>{{ pelicula | uppercase }}</p>
</div>

<br />
<ul *ngIf="verActor">

    <h3>Reparto</h3>
    <li *ngFor="let actor of actor1">
        {{ actor.nombre | uppercase }}
        <br /> {{ actor.edad }}
        <br /> {{ actor.lugarNac }}
        <p *ngIf="actor.nombre === 'La Roca'">Reparto de pelicula</p>
    </li>
</ul>
<p>Pelicula favorita: {{ peliculaHijo }}</p>
<button (click)="cambioPelicula()">Peliculas Favoritas</button>